<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guithub.mappers.post">
	
	<!-- 게시물 목록 (페이징+서치) -->
	<select id ="listPagingSearch" resultType="com.guithub.domain.PostVO">
		select * from (
		        select rownum num, n.* 
		        from (select * from post_general 
		        <if test='field.equals("title")'>
		        	where title like '%${keyword}%' order by regdate desc)n
		        </if>
		        <if test='field.equals("title_content")'>
		        	where title like '%${keyword}%' or content like '%${keyword}%' order by regdate desc)n
		        </if>
		        <if test='field.equals("writer")'>
		        	where writer_id like '%${keyword}%' order by regdate desc)n
		        </if>
		        )
		    where num between #{startRowNum} and #{endRowNum}
	</select>
	
	<!-- 게시물 총 개수 카운트 -->
	<select id ="count" parameterType="hashMap" resultType="int">
		select count(id) from post_general
				<if test='field.equals("title")'>
		        	where title like '%${keyword}%'
		        </if>
		        <if test='field.equals("title_content")'>
		        	where title like '%${keyword}%' or content like '%${keyword}%'
		        </if>
		        <if test='field.equals("writer")'>
		        	where writer_id like '%${keyword}%'
		        </if>
	</select>
	
	<!-- 게시물 상세보기 -->
	<select id ="detail" resultType="com.guithub.domain.PostVO">
		select * from post_general
			where id = #{id}
	</select>
	
	<!-- 게시물 등록 -->
	<insert id="regPost" parameterType="com.guithub.domain.PostVO">
		insert into 
			post_general(writer_id, password, title, content)
				values(#{writer_id}, #{password}, #{title}, #{content})
	</insert>
	
	<!-- 게시물 삭제-->
	<delete id="delPost" parameterType="hashMap">
		delete from post_general
			where id = #{id} and password= '${password}'
	<!-- password 에서 #{} 으로 파라미터를 매핑할시 오류는 없으나 쿼리가 작동하지못함,,,부득이하게 ${} 사용 -->
	</delete>
	
	<!-- 댓글 등록 post_id 쪽에 들어가는 값 따옴표 주의-->
	<insert id="regReply" parameterType="com.guithub.domain.ReplyVO">
		INSERT INTO reply_general (
		    writer_id, password, content, post_id
		) VALUES (
		    #{writer_id}, #{password}, #{content}, #{post_id}
		)
	</insert>
	
	<!-- 댓글 목록 -->
	<select id ="listReply" resultType="com.guithub.domain.ReplyVO">
		select id, content, writer_id, regdate from reply_general
			where post_id = #{post_id} order by regdate desc
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delReply" parameterType="hashMap">
		delete from reply_general
			where id = #{id} and password= '${password}'
	<!-- password 에서 #{} 으로 파라미터를 매핑할시 오류는 없으나 쿼리가 작동하지못함,,,부득이하게 ${} 사용 -->
	</delete>
	
</mapper>